In [72]:
#Necessary Imports
import numpy as np
import pandas as pd

In [73]:
#Read Data From the file 
df=pd.read_csv('orders.csv')
df.head(20)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,Not Available,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,unknown,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,610,670,6,3
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,60,60,2,4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,10,10,2,4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,170,210,3,3

In [74]:
#Study data (data manipulation and handle null values)

df.nunique()

Order Id            9994
Order Date           730
Ship Mode              6
Segment                3
Country                1
City                 531
State                 49
Postal Code          631
Region                 4
Category               3
Sub Category          17
Product Id          1862
cost price           280
List Price           289
Quantity              14
Discount Percent       4
dtype: int64

In [75]:
df.describe()

,Order Id,Postal Code,cost price,List Price,Quantity,Discount Percent
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,201.189714,229.756854,3.789574,3.484090
std,2885.163629,32063.693350,537.743203,623.245839,2.225110,1.114211
min,1.000000,1040.000000,0.000000,0.000000,1.000000,2.000000
25%,2499.250000,23223.000000,20.000000,20.000000,2.000000,2.000000
50%,4997.500000,56430.500000,50.000000,50.000000,3.000000,3.000000
75%,7495.750000,90008.000000,180.000000,210.000000,5.000000,4.000000
max,9994.000000,99301.000000,18110.000000,22640.000000,14.000000,5.000000

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [77]:
df.columns =df.columns.str.lower()
df.columns =df.columns.str.replace( ' ', '_')

In [78]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [79]:
df['ship_mode'].unique()   #similary checked all columns to find row values indicate not data

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [80]:
df.replace( ['Not Available' , 'unknown'],np.nan, inplace=True)

In [81]:
df['country'].unique()    #only single value

array(['United States'], dtype=object)

In [82]:
df=df.drop(columns=['country'])

In [83]:
df['cost_price'].unique()    #has 0 value as cost price

array([  240,   600,    10,   780,    20,    50,   860,    90,  1470,
         750,   360,    60,     0,   610,   170,   900,    80,  2740,
         100,    70,    30,  1020,   180,   460,   200,   350,   140,
          40,   850,   290,   130,   940,   160,   790,   190,   210,
         260,   220,   120,   720,   110,   550,   540,  1580,   150,
         380,   870,  6850,   250,  1620,   370,   470,   820,   520,
         390,  1040,   410,   510,   500,   340,  1380,   300,  3050,
         330,   590,  2690,  2170,  1050,   950,   230,   810,   280,
         930,   400,  3670,   270,   740,   770,   570,   450,  4140,
        1300,  1600,  1990,  1130,   800,  1260,   320,   580,   670,
         760,  1080,   480,  2300,   650,  5210,  2430,  1200,   440,
        1100,   310,   690,   490,  1000,   560,   890,  7280,  1370,
         530,  1170,  1700,  1090,  1270,  1030,   910,  1010,  1830,
         680,   420,  1950,  2850,  1060,  2200,  2010,   960,  1410,
        1240,   620,  1120,  4360,   640,  2060,   430,   920,  1760,
        3430,  1070,   970,   710,   630,  1550,  2330,  2460,   730,
        1150,  1350,   840,  1160,  2650,  1560,  1510,  4150,  2400,
         660,  1520,  1190,  1310,  1430,   700,  3480,   980,  1250,
        1440,  1390,  1970,  1110,  3730,  7370,  1280,  1340,  2540,
       10300,  2160, 18110,  1650,  1330,  1590,   880,  2390,  1490,
        1140,  2190,  1850,  2630,   990,  1730,  1690,  1500,  2760,
        3790,  1540,  1530,  2350,  2280,  2020,  1450,  1220,  1180,
        1660,  2120,  1640,  2770,  8410,  2310,  9240,  4030,   830,
        7640,  3630,  2560,  2260,  1870,  1630,  1930,  1290,  3010,
        3420,  2030,  1420,  1320,  2210,  1400,  2270,  1740,  4320,
        3810,  1720,  1980,  2240,  2570,  2140,  1570,  4520,  7310,
        4570,  1680,  1810,  3690,  3700,  6440,  2940, 14000,  1900,
        1940,  1750,  3540,  2340,  2290,  2100,  3150,  1230,  1460,
        3160,  3780,  3770,  3130,  2040,  3190,  2790, 13020,  1670,
        4270,  2600,  1880,  2410,  2220,  8050,  2080,  2680,  4060,
        3840,  2380,  3180,  1780,  3530,  3000,  2720,  3650,  1790,
        2880], dtype=int64)

In [84]:
df[df['cost_price'] == 0] #also check for df[df['list_price'] == 0]

,order_id,order_date,ship_mode,segment,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
15,16,2022-06-18,Standard Class,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
30,31,2022-11-20,Standard Class,Consumer,Philadelphia,Pennsylvania,19140,East,Office Supplies,Envelopes,OFF-EN-10001509,0,0,2,5
61,62,2023-04-08,First Class,Consumer,Troy,New York,12180,East,Office Supplies,Art,OFF-AR-10001868,0,0,1,5
70,71,2022-11-29,Standard Class,Consumer,New York City,New York,10009,East,Office Supplies,Binders,OFF-BI-10004654,0,0,1,3
75,76,2023-04-17,First Class,Corporate,Houston,Texas,77041,Central,Office Supplies,Binders,OFF-BI-10004182,0,0,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9838,9839,2023-03-01,Standard Class,Consumer,Long Beach,California,90805,West,Office Supplies,Labels,OFF-LA-10001771,0,0,1,3
9859,9860,2022-08-13,Standard Class,Home Office,Richmond,Indiana,47374,Central,Office Supplies,Fasteners,OFF-FA-10003472,0,0,2,2
9869,9870,2023-01-02,First Class,Corporate,Mason,Ohio,45040,East,Office Supplies,Binders,OFF-BI-10000494,0,0,2,5
9945,9946,2023-06-26,Standard Class,Corporate,Philadelphia,Pennsylvania,19120,East,Office Supplies,Paper,OFF-PA-10000327,0,0,1,4
9965,9966,2022-12-31,Second Class,Corporate,Newark,Delaware,19711,East,Office Supplies,Paper,OFF-PA-10000349,0,0,1,5

In [85]:
filterdf=df[(df['cost_price'] == 0) & (df['list_price']==0)].index
filterdf

Index([  15,   30,   61,   70,   75,  101,  108,  114,  126,  136,
       ...
       9795, 9802, 9808, 9818, 9832, 9838, 9859, 9869, 9945, 9965],
      dtype='int64', length=507)

In [86]:
df=df.drop(index=filterdf)

In [87]:
#derive new columns discount , sale price and profit
df['discount']=df['list_price']*df['discount_percent']*0.01
df['sale_price']=df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']
df

,order_id,order_date,ship_mode,segment,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [88]:
filtered_df=df[(df['discount'] == 0) & (df['sale_price']==0)]
filtered_df

Empty DataFrame
Columns: [order_id, order_date, ship_mode, segment, city, state, postal_code, region, category, sub_category, product_id, cost_price, list_price, quantity, discount_percent, discount, sale_price, profit]
Index: []

In [89]:
filtered_df=df[df['profit'] <= 0]    #since profit can be 0 where sale price is not, more rows are available here
filtered_df           #half of the data have o or less profit

,order_id,order_date,ship_mode,segment,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
2,3,2023-01-10,Second Class,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
4,5,2022-07-13,Standard Class,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
5,6,2022-03-13,NaN,Consumer,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3,1.5,48.5,-1.5
6,7,2022-12-28,Standard Class,Consumer,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3,0.3,9.7,-0.3
8,9,2023-03-23,NaN,Consumer,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2,0.4,19.6,-0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9984,9985,2023-08-04,Standard Class,Consumer,Long Beach,New York,11561,East,Office Supplies,Labels,OFF-LA-10003766,30,30,10,2,0.6,29.4,-0.6
9986,9987,2022-11-30,Standard Class,Consumer,Los Angeles,California,90008,West,Technology,Accessories,TEC-AC-10003399,40,40,1,5,2.0,38.0,-2.0
9987,9988,2023-04-01,Standard Class,Corporate,Athens,Georgia,30605,South,Technology,Accessories,TEC-AC-10001539,80,80,1,3,2.4,77.6,-2.4
9989,9990,2023-02-18,Second Class,Consumer,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9992,9993,2022-11-19,Standard Class,Consumer,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9

In [90]:
#convert order date from object datatype to datetime

df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")

In [91]:
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [92]:
#drop columns list_price, cost_price,discount_percent 
df.drop(columns=['list_price','cost_price','discount_percent'], inplace=True)

In [93]:
#load the data in SQL server using replace option
!pip install pymysql
import pandas as pd
import sqlalchemy as sal
from sqlalchemy import create_engine

# Correct connection URL with driver
engine = create_engine('mysql+pymysql://root:root@localhost:3306/trupti')

# Connect to the database
conn = engine.connect()
print("Connection successful!")

Requirement already satisfied: pymysql in c:\users\samarth computers\anaconda3\lib\site-packages (1.1.1)
Connection successful!

In [ ]:
#Alternate way
#!pip install mysql-connector-python
#import mysql.connector
#connection = mysql.connector.connect(
       # host="localhost",
      #  user="root",       
      #  password="root",   
      #  database="trupti"    
   # )
#cursor=connection.cursor()

Requirement already satisfied: mysql-connector-python in c:\users\samarth computers\anaconda3\lib\site-packages (9.1.0)

In [97]:
#load the data into MySQL using append option
df.to_sql('df_orders', con=conn, index=False, if_exists='append')

9487

In [95]:
df

,order_id,order_date,ship_mode,segment,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,232.8,22.8